@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    font-family: "Libre Bodoni", serif;
}

/*MENU / NAVBAR e PRIMEIRA SEÇÃO*/
.secao1{
    background-color: #000000;
    height: 100vh;
}
header{
    background-color: #000000;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_logo{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 250px;
}
.logo{
    width: 40px;
}
header h1{
    color: #ffffff;
    font-weight: 300;
    display: flex;
    font-size: 40px;
}
.menu{
    display: flex;
    gap: 25px;
    margin-right: 10px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}