@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Bodoni", serif;
}

/*SCROLL DA PÁGINA*/
body::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
body::-webkit-scrollbar-track {
    background: #000000;
    padding: 2px;
}
body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

/*MENU / NAVBAR e 1º SEÇÃO*/
.secao1{
    background-color: #000000;
}
header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div_logo{
    width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 250px;
    z-index: 1;
}
.logo{
    width: 50px;
}
header h1{
    color: #ffffff;
    font-weight: 300;
    display: flex;
    font-size: 40px;
    z-index: 1;
}
.menu{
    display: flex;
    gap: 25px;
    margin-right: 10px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    z-index: 1;
}
.background {
    position: relative;
    background-image: url('../src/img/fundo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 105vh;
}
.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.frase{
    height: 650px;
    display: flex;
    align-items: center;
}
.frase h1 {
    position: relative;
    color: #ffffff;
    z-index: 1;
    font-size: 80px;
    margin: 100px;
}

/*2º SEÇÃO*/
.secao2{
    height: 650px;
    background-color: #000000;
}
.linha{
    display: flex;
    justify-content: center;
    position: relative;
    top: -110px;
}
.titulo_secao2{
    display: flex;
    justify-content: center;
    position: relative;
    top: -90px;
}
.titulo_secao2 h1{
    color: #ffffff;
    font-size: 50px;
}
.partes_somos{
    display: flex;
    margin: 60px;
    justify-content: center;
    gap: 70px;
    position: relative;
    top: -100px;
    margin-left: 50px;
    align-items: center;
}
.img_quem{
    width: 600px;
}
.quem_somos h2{
    color: #ffffff;
}
.quem_somos p{
    width: 500px;
    color: #ffffff;
    margin-top: 10px;
}
.dev{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.gabru{
    width: 50px;
}
.dev h5{
    color: #ffffff;
}

/*3º SEÇÃO*/
.secao3{
    position: relative;
    background-image: url('../src/img/missao.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.secao3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.secao_cards{
    width: 100%;
    height: 100%;
    padding: 80px;
    display: flex;
    justify-content: space-around;
}
.missao{
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    position: relative;
}
.elementos_missao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    gap: 15px;
}
.elementos_missao h1{
    color: #ffffff;
    font-size: 40px;
}
.elementos_missao p{
    color: #ffffff;
}
.valores{
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    position: relative;
}
.elementos_valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    gap: 15px;
}
.elementos_valores h1{
    color: #ffffff;
    font-size: 40px;
}
.elementos_valores p{
    color: #ffffff;
}

/*FOOTER / RODAPÉ*/
footer{
    height: 270px;
    background-color: #000000;
}
.rodape{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.contato{
    text-align: center;
}
.contato h1{
    color: #ffffff;
    margin-bottom: 10px;
}
.email{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px;
}
.material-symbols-outlined{
    color: #ffffff;
}
.email a{
    color: #ffffff;
    text-decoration: none;
}
.phone{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px;
}
.phone a{
    color: #ffffff;
    text-decoration: none;
}
.endereco{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px;
}
.endereco a{
    color: #ffffff;
    text-decoration: none;
}
.desenv{
    text-align: center;
}
.desenv h1{
    color: #ffffff;
}
.linkedin{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.linkedin a img {
    transition: transform 0.3s ease;
    width: 50px;
}
.linkedin a:hover img {
    transform: scale(1.2);
}
.fechamento{
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}